<footer class="site-footer">

  <div class="footer-content">

    <div class="footer-text">
      © 2026 Anna Byrd
    </div>

    <div class="footer-social">

      <a href="https://www.linkedin.com/in/anna-byrd/" target="_blank">
        <img src="/InBug-White.png" alt="LinkedIn" class="footer-icon" />
      </a>

      <a href="https://github.com/a-bird28/" target="_blank">
        <img src="/GitHub_Invertocat_White.png" alt="GitHub" class="footer-icon" />
      </a>

      <a href="https://orcid.org/0000-0003-3174-1218" target="_blank">
        <img src="/orcid.logo.icon.svg" alt="ORCiD" class="footer-icon" />
      </a>

    </div>

  </div>

</footer>