<head>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/chicagoflf" type="text/css"/>
  <link rel="stylesheet" href="https://use.typekit.net/fmq3yvt.css">
</head>
<header class="siteHeader">
  <a href="index.html" class="title">
    Anna Byrd
  </a>

  <nav>
    <ul class="navList">
      <li><a href="publications.html" class="navlink green">Publications</a></li>
      <li><a href="about.html" class="navlink blue">About</a></li>
      <li><a href="contact.html" class="navlink pink">Contact</a></li>
    </ul>
  </nav>
</header>